@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  margin: 0;
}
header {
  position: fixed;
  height: 50px;
  padding: 30px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  margin-top: -22px;
  background-color: white;
  border: none;
  border-bottom: 2px solid rgb(35, 67, 155);
}
.links {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  right: 10px;
}
.links a {
  padding: 18px;
  text-decoration: none;
  color: black;
  transition: color 1s;
  transition: padding 0.5s, color 1s;
}
.links a:hover {
  color: rgba(26, 66, 147, 0.678);
  padding-top: 2px;
}
.logo {
  width: 20%;
}
.middle-container {
  padding-top: 80px;
  width: 100%;
  height: 500px;
  margin-bottom: 0;
}
.alumni-img {
  width: 100%;
  height: 500px;
}
.alumni-info {
  background-color: white;
  margin-left: 100px;
  width: 800px;
  height: 400px;
}
.alumni-info p {
  width: 95%;
  font-family: Roboto;
  font-size: 18px;
  line-height: 26px;
  font-weight: 600;
}
.alumni-info h1 {
  color: rgb(129, 113, 63);
  font-size: 3.6rem;
  font-family: Roboto;
}
button {
  width: 150px;
  height: 46px;
  background-color: rgb(129, 113, 63);
  color: white;
  border: none;
}
button:hover {
    color: rgb(129, 113, 63);
    background-color: white;
    border: 1.6px solid rgb(129, 113, 63);
}

footer {
  margin-top: 78px;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  column-gap: 10px;
  background-color: rgb(35, 67, 155);
}
.bottom-info {
  display: flex;
  flex-direction: column;
  margin: 0;
  flex: 1;
  padding: 20px;
  width: 150px;
}
.bottom-text {
  color: white;
}
.bottom-info a {
  color: white;
  text-decoration: none;
  padding: 5px;
}
.bottom-info h3 {
  color: rgb(156, 134, 9);
}
.bottom-info a:hover {
  text-decoration: underline;
}
.copyright {
  color: white;
  position: relative;
  left: 0;
  bottom: 0;
}
