body {
  margin: 0;
}
header {
  position: fixed;
  height: 50px;
  padding: 30px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  margin-top: -22px;
  background-color: white;
}
.links {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  right: 10px;
}
.links a {
  padding: 18px;
  text-decoration: none;
  color: black;
  transition: color 1s;
  transition: padding 0.5s, color 1s;
}
.links a:hover {
  color: rgba(26, 66, 147, 0.678);
  padding-top: 2px;
}
.logo {
  width: 20%;
}
.top-container {
  background-color: rgb(252, 252, 252);
  position: relative;
  padding-top: 30px;
  top: 78px;
  height: 830px;
  width: 100%;
}
footer {
  margin-top: 80px;
  margin-bottom: 0;
  width: 100%;
  display: flex;
  column-gap: 10px;
  background-color: rgb(35, 67, 155);
}
.bottom-info {
  display: flex;
  flex-direction: column;
  margin: 0;
  flex: 1;
  padding: 20px;
  width: 150px;
}
.bottom-text {
  color: white;
}
.bottom-info a {
  color: white;
  text-decoration: none;
  padding: 5px;
}
.bottom-info h3 {
  color: rgb(156, 134, 9);
}
.bottom-info a:hover {
  text-decoration: underline;
}
.copyright {
  color: white;
  position: relative;
  left: 0;
  bottom: 0;
}
