body {
  margin: 0;
}
.top-container {
  width: 100%;
  height: 720px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url("/DCIT_205_IA/images/computer.jpg");
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}
header {
  height: 50px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.links {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  right: 10px;
}
.links a {
  padding: 18px;
  text-decoration: none;
  color: white;
  transition: text-decoration padding-top, 1s;
}
.links a:hover {
  text-decoration: underline;
  padding-top: 2px;
}
.logo {
  width: 20%;
}
.home-info {
  width: 60%;
  position: relative;
  left: 310px;
  top: 135px;
}
.info {
  color: rgb(245, 240, 240);
  font-size: 60px;
  line-height: 65px;
  transition: font-size line-heigth, 1s;
}
.info:hover {
  font-size: 70px;
  line-height: 70px;
  cursor: pointer;
}
.middle-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 700px;
}
.mission {
  margin-top: 50px;
  height: 100px;
  width: 650px;
  text-align: center;
}
.mission h1 {
  font-family: cursive;
  font-size: 45px;
  color: gray;
  text-align: left;
}
.mission p {
  margin-top: -20px;
  font-size: 34px;
  color: rgb(140, 137, 137);
  text-align: left;
}
.bottom-container {
  width: 100%;
}
.HOD {
  width: 600px;
  height: 600px;
}
.HOD-info {
  background-color: rgb(223, 223, 223);
  height: 500px;
  width: 564px;
  float: right;
  margin-left: -50px;
  padding: 50px;
} 
.HOD-info p {
  color: rgb(39, 37, 37);
  font-size: 23px;
  text-align: left;
  line-height: 35px;
}
.HOD-info h1 {
  text-align: justify;
}
footer {
  width: 100%;
  display: flex;
  column-gap: 10px;
  margin-top: -24px;
  background-color: rgb(35, 67, 155);
}
.bottom-info {
  display: flex;
  flex-direction: column;
  margin: 0;
  flex: 1;
  padding: 20px;
  width: 150px;
}
.bottom-text {
  color: white;
}
.bottom-info a {
  color: white;
  text-decoration: none;
  padding: 5px;
}
.bottom-info h3 {
  color: rgb(156, 134, 9);
}
.bottom-info a:hover {
  text-decoration: underline;
}
