@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-bottom: 130px;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0)),
    url("/DCIT_205_IA/images/computer.jpg");
  background-size: cover;
}
.top-container {
  width: 100%;
  height: 720px;
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
}
header {
  height: 50px;
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.links {
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  right: 10px;
}
.links a {
  padding: 18px;
  text-decoration: none;
  color: white;
  transition: font-size 1s, padding 0.5s;
}
.links a:hover {
  font-size: 22px;
  padding-top: 2px;
}
.logo {
  width: 20%;
}
.home-info {
  width: 60%;
  position: relative;
  left: 310px;
  top: 135px;
}
.info {
  color: rgb(245, 240, 240);
  font-size: 60px;
  line-height: 65px;
  transition: font-size 1s, line-height 1s;
}
.admissions {
  cursor: pointer;
  width: 180px;
  height: 50px;
  background-color: rgba(0, 42, 255, 0.5);
  border: 2px solid white;
  font-size: 22px;
  color: white;
  border-radius: 10px;
  transition: opacity 1s;
}
.admissions a{
  text-decoration: none;
  color: white;
}
.admissions:hover {
  color: white;
  opacity: 0.6;
}
.info:hover {
  font-size: 70px;
  line-height: 70px;
  cursor: pointer;
}
.middle-container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 700px;
}
.mission {
  border-radius: 8px;
  background-color: rgb(255, 255, 255, 0.3);
  padding: 30px;
  border: 2px solid white;
  margin-top: 50px;
  height: 400px;
  width: 800px;
  text-align: center;
}
.mission h1 {
  font-family: Roboto;
  font-size: 35px;
  color: rgb(72, 70, 70);
  text-align: center;
}
.mission p {
  margin-top: -20px;
  font-size: 22px;
  color: rgb(60, 57, 57);
  line-height: 35px;
  font-family: Roboto;
  font-weight: bold;
  text-align: left;
}
.bottom-container {
  width: 100%;
  padding-bottom: 50px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 0;
}
.HOD {
  width: 400px;
  height: 400px;
  margin-left: 200px;
  border-radius: 5px;
  z-index: 2;
}
.HOD-info {
  display: inline-flex;
  flex-direction: column;
  position: absolute;
  background-color: rgba(223, 223, 223, 0.45);
  border-radius: 10px;
  height: 200px;
  width: 400px;
  left: 600px;
  margin-top: 0;
  margin-left: 0;
  padding: 50px;
  padding-bottom: 150px;
  z-index: 0;
}
.HOD-info p {
  color: rgb(39, 37, 37);
  font-size: 14px;
  font-family: Roboto;
  font-weight: bold;
  text-align: left;
  line-height: 22px;
}
.HOD-info h1 {
  text-align: justify;
  font-family: Roboto;
}
footer {
  border: 2px solid rgb(225, 203, 75);
  border-radius: 20px;
  width: 98.8%;
  margin-right: 2px;
  margin-left: 6px;
  margin-bottom: -130px;
  display: flex;
  column-gap: 10px;
  margin-top: 0;
  background-color: rgba(35, 67, 155, 0.85);
}
.bottom-info {
  display: flex;
  flex-direction: column;
  margin: 0;
  flex: 1;
  padding: 20px;
  width: 150px;
}
.bottom-text {
  color: white;
}
.bottom-info a {
  color: white;
  text-decoration: none;
  padding: 5px;
}
.bottom-info h3 {
  color: rgb(156, 134, 9);
}
.bottom-info a:hover {
  text-decoration: underline;
}
.copyright {
  color: white;
  position: relative;
  left: 0;
  bottom: 0;
}
